<div>
  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" id="avidWrapper"
       width="320" height="320" viewBox="0 0 320 320" style="margin: auto; display: block;">
      <g id="avidWrapper" transform="translate(160,160)">
        <g id="avidColored">
          <defs>
            <radialGradient id="yellowGradient">
              <stop stop-color="#FCFBEB" offset="0.75"></stop>
              <stop stop-color="#F6F1B7" offset="0.95"></stop>
            </radialGradient>
            <radialGradient id="blueGradient">
              <stop stop-color="#B8E5FA" offset="0.6"></stop>
              <stop stop-color="#44C8F5" offset="0.95"></stop>
            </radialGradient>
            <radialGradient id="greenGradient">
              <stop stop-color="#DCF0EC" offset="0.50"></stop>
              <stop stop-color="#99D4C0" offset="0.95"></stop>
            </radialGradient>
            <radialGradient id="purpleGradient">
              <stop stop-color="#ebdfe4" offset="0.1"></stop>
              <stop stop-color="#d8bfc9" offset="0.95"></stop>
            </radialGradient>
          </defs>
          <g id="avidBackground">
            <polygon id="avidColoredHexagon"
                     points="77.94,135 155.88,0 77.94,-135 -77.94,-135 -155.88,0 -77.94,135 77.94,135 z"
                     stroke="#0071bc"
                     stroke-width="1.5"
                     fill="#004071"></polygon>
            <circle id="yellowCircle" fill="url(#yellowGradient)" r="135"></circle>
            <circle id="blueCircle" fill="url(#blueGradient)" r="97"></circle>
            <circle id="greenCircle" fill="url(#greenGradient)" r="59"></circle>
            <circle id="purpleCircle" fill="url(#purpleGradient)" r="25"></circle>
            <text id="iconAvidLabelAText" x="0" y="-142.5" width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetter">A</text>
            <text id="iconAvidLabelBText" x="128.5" y="-68.5" width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetter">B</text>
            <text id="iconAvidLabelCText" x="128.5" y="81.5" width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetter">C</text>
            <text id="iconAvidLabelDText" x="0" y="155"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetter">D</text>
            <text id="iconAvidLabelEText" x="-129.5" y="81.5"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetter">E</text>
            <text id="iconAvidLabelFText" x="-129.5" y="-68.5"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetter">F</text>
            <text id="iconAvidLabelABText" x="38.5" y="-62.5"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetterPair">A/B</text>
            <text id="iconAvidLabelBCText" x="77.5" y="5.5"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetterPair">B/C</text>
            <text id="iconAvidLabelCDText" x="38.5" y="72"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetterPair">C/D</text>
            <text id="iconAvidLabelDEText" x="-38.5" y="72"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetterPair">D/E</text>
            <text id="iconAvidLabelEFText" x="-77.5" y="5.5"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetterPair">E/F</text>
            <text id="iconAvidLabelFAText" x="-38.5" y="-62.5"  width="33" height="33" text-anchor="middle" class="svgAvidDirectionLetterPair">F/A</text>
          </g>
        </g>
        <g id="avidWindows">
          <circle id="b90.pol" r="25" class="svgWindow" stroke="#0071bc" fill-opacity="0"></circle>
          <path id="b60.000" d="M 12.5,-21.65L 29.5,-51.1A 59,59 0 0,0 -29.5,-51.1L -12.5,-21.65A 25,25 0 1 0 12.5,-21.65z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b60.060" d="M 25,0L 59,0A 59,59 0 0,0 29.5,-51.1L 12.5,-21.65A 25,25 0 1 0 25,0z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b60.120" d="M 12.5,21.65L 29.5,51.1A 59,59 0 0,0 59,0L 25,0A 25,25 0 1 0 12.5,21.65z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b60.180" d="M 12.5,21.65L 29.5,51.1A 59,59 0 0 1 -29.5,51.1L -12.5,21.65A 25,25 0 0 0 12.5,21.65z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b60.240" d="M -12.5,21.65L -29.5,51.1A 59,59 0 0 1 -59,0L -25,0A 25,25 0 0 0 -12.5,21.65z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b60.300" d="M -25,0L -59,0A 59,59 0 0 1 -29.5,-51.1L -12.5,-21.65A 25,25 0 0 0 -25,0z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.000" d="M15.27,-56.99 L25.11,-93.69 A97,97 0 0 0 -25.11,-93.69 L-15.27,-56.99 A59,59 0 0 1 15.27,-56.99 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.030" d="M41.72,-41.72 L68.59,-68.59 A97,97 0 0 0 25.11,-93.69 L 15.27,-56.99 A59,59 0 0 1 41.72,-41.72 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.060" d="M56.99,-15.27 L93.69,-25.11 A97,97 0 0 0 68.59,-68.59 L41.72,-41.72 A59,59 0 0 1 56.99,-15.27 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.090" d="M56.99,15.27 L93.69,25.11 A97,97 0 0 0 93.69,-25.11 L56.99,-15.27 A59,59 0 0 1 56.99,15.27 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.120" d="M56.99,15.27 L93.69,25.11 A97,97 0 0 1 68.59,68.59 L41.72,41.72 A59,59 0 0 0 56.99,15.27 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.150" d="M41.72,41.72 L68.59,68.59 A97,97 0 0 1 25.11,93.69 L 15.27,56.99 A59,59 0 0 0 41.72,41.72 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.180" d="M-15.27,56.99 L-25.11,93.69 A97,97 0 0 0 25.11,93.69 L15.27,56.99 A59,59 0 0 1 -15.27,56.99 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.210" d="M-41.72,41.72 L-68.59,68.59 A97,97 0 0 0 -25.11,93.69 L -15.27,56.99 A59,59 0 0 1 -41.72,41.72 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.240" d="M-56.99,15.27 L-93.69,25.11 A97,97 0 0 0 -68.59,68.59 L-41.72,41.72 A59,59 0 0 1 -56.99,15.27 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.270" d="M-56.99,15.27 L-93.69,25.11 A97,97 0 0 1 -93.69,-25.11 L-56.99,-15.27 A59,59 0 0 0 -56.99,15.27 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.300" d="M-56.99,-15.27 L-93.69,-25.11 A97,97 0 0 1 -68.59,-68.59 L-41.72,-41.72 A59,59 0 0 0 -56.99,-15.27 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b30.330" d="M-41.72,-41.72 L-68.59,-68.59 A97,97 0 0 1 -25.11,-93.69 L -15.27,-56.99 A59,59 0 0 0 -41.72,-41.72 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.000" d="M25.11,-93.69 L34.95,-130.4 A135,135 0 0 0 -34.95,-130.4 L-25.11,-93.69 A97,97 0 0 1 25.11,-93.69 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.030" d="M68.59,-68.59 L95.46,-95.46 A135,135 0 0 0 34.95,-130.4 L25.11,-93.69 A97,97 0 0 1 68.59,-68.59 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.060" d="M93.69,-25.11 L130.4,-34.95 A135,135 0 0 0 95.46,-95.46 L68.59,-68.59 A97,97 0 0 1 93.69,-25.11 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.090" d="M93.69,-25.11 L130.4,-34.95 A135,135 0 0 1 130.4,34.95 L93.69,25.11 A97,97 0 0 0 93.69,-25.11 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.120" d="M93.69,25.11 L130.4,34.95 A135,135 0 0 1 95.46,95.46 L68.59,68.59 A97,97 0 0 0 93.69,25.11 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.150" d="M68.59,68.59 L95.46,95.46 A135,135 0 0 1 34.95,130.4 L25.11,93.69 A97,97 0 0 0 68.59,68.59 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.180" d="M25.11,93.69 L34.95,130.4 A135,135 0 0 1 -34.95,130.4 L-25.11,93.69 A97,97 0 0 0 25.11,93.69 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.210" d="M-68.59,68.59 L-95.46,95.46 A135,135 0 0 0 -34.95,130.4 L-25.11,93.69 A97,97 0 0 1 -68.59,68.59 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.240" d="M-93.69,25.11 L-130.4,34.95 A135,135 0 0 0 -95.46,95.46 L-68.59,68.59 A97,97 0 0 1 -93.69,25.11 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.270" d="M-93.69,-25.11 L-130.4,-34.95 A135,135 0 0 0 -130.4,34.95 L-93.69,25.11 A97,97 0 0 1 -93.69,-25.11 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.300" d="M-93.69,-25.11 L-130.4,-34.95 A135,135 0 0 1 -95.46,-95.46 L-68.59,-68.59 A97,97 0 0 0 -93.69,-25.11 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
          <path id="b00.330" d="M-68.59,-68.59 L-95.46,-95.46 A135,135 0 0 1 -34.95,-130.4 L-25.11,-93.69 A97,97 0 0 0 -68.59,-68.59 z"
                class="svgWindow" stroke="#0071bc" fill-opacity="0"></path>
        </g>
      </g>
  </svg>
</div>