<ion-view view-title="Target Bearing">
  <ion-nav-buttons side="primary">
    <button class="button">
      Turn: 1
      <i class="icon ion-ios-play-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button">
      <i class="icon ion-ios-settings"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div ng-include="'templates/base-avid.html'"></div>
    <div ng-include="'templates/base-fishbowl.html'"></div>
    <button ng-click="bearing.init()">init</button>

  </ion-content>
</ion-view>
